# Don't upload the log files but keep the folder.
logs/*
!logs/.gitkeep

# Don't upload the data files but keep the folder.
data/*
!data/.gitkeep

# Don't upload the configuration files but keep the folder.
configuration/*
!configuration/.gitkeep

# Settings file.
settings.ini

git_access_token.txt
api_access_token.txt

# Virtual environment.
venv/
.venv/

# Docker volumes.
volumes/

# Modules
!src/modules/base
src/modules/*

# Byte-compiled / optimized / DLL files.
__pycache__/
*.py[cod]
*.pyc

# User-specific stuff
.idea/

# CMake
cmake-build-*/

# File-based project format
*.iws

